# Database files
postgres_data/

# Environment files
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.next/
.expo/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db
