HOST= 0.0.0.0
PORT=3001
PAWAPAY_API_TOKEN=eyJraWQiOiIxIiwiYWxnIjoiRVMyNTYifQ.eyJ0dCI6IkFBVCIsInN1YiI6IjIyNDUyIiwibWF2IjoiMSIsImV4cCI6MjA5NzE4NDAzMSwiaWF0IjoxNzgxNTY0ODMxLCJwbSI6IkRBRixQQUYiLCJqdGkiOiI0ZTgwZWU0NS0zNTJkLTRjYzMtOGY4My03MmJkZjViMjkyNjYifQ.8xYbS6zbVuYRi8_FGEmsvmGg-KjxRDbNafk9iu8MxqRytL2s3l3Zk332KLZBidRYIt_fLmo0eOvqGkvsXRG2aQ
SUPABASE_URL=https://rytcxyytweorvtubyomx.supabase.co
SUPABASE_ANON_KEY=sb_publishable_2qhZ0Uugg03fDPXwZTtGOQ_dbOJJ19x
# WHATSAPP_PAIRING_NUMBER=237682077535
